.videos-type {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    width: 250px;
    font-size: 1.8rem;
    font-family: 'SofiaPro', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.05);
}

.type {
    flex: 1;
    line-height: 44px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(22, 24, 35, 0.5);

    &.active {
        color: rgb(22, 24, 35);
    }

    &:first-child {
        &:hover ~ .line,
        &.active ~ .line {
            transform: translateX(0) !important;
        }

        &.active ~ .line {
            transform: translateX(0);
        }
    }

    &:nth-child(2) {
        &:hover ~ .line {
            transform: translateX(100%) !important;
        }

        &.active ~ .line {
            transform: translateX(100%);
        }
    }
}

.lock {
    margin-right: 6px;
    pointer-events: none;
}

.line {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: rgb(22, 24, 35);
    transition: 0.15s;
}

.videos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    grid-gap: 16px;
    margin-top: 15px;
}

.video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.video-item {
    position: relative;
}

.views-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 12px;
    color: var(--white);
    font-weight: 600;
}

.views {
    margin-left: 4px;
}

.caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Liked tab
.liked-tab {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    text-align: center;
}
.lock-icon {
    color: #b0b4b4;
}
.notice {
    h3 {
        font-size: 2.4rem;
        font-weight: 700;
        color: #161823;
        font-family: 'SofiaPro', sans-serif;
    }

    p {
        font-size: 1.6rem;
        margin-top: 2px;
    }
}
