.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--fullspace-layout-width);
    max-width: 100%;
    padding: 0 20px;
    margin-top: var(--default-layout-header-height);
}

.content {
    float: right;
    width: calc(var(--fullspace-layout-width) * 0.7);
}

.fullscreen {
    width: 100%;
}
