.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--fullscreen-layout-width);
    max-width: 100%;
    padding: 0 20px;
    margin-top: var(--default-layout-header-height);
}

.content {
    margin-top: 20px;
    padding-left: 20px;
    margin-left: var(--fullscreen-layout-sidebar-width);
    width: calc(100vw - var(--fullscreen-layout-sidebar-width) - 40px);
}

.fullscreen {
    width: 100%;
}
