.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.search,
.search-result {
    width: 361px;
}

.search {
    --search-height: 46px;
    --icon-color: rgba(0, 0, 0, 0.3);
    --border-radius: 92px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--search-height);
    padding-left: 16px;
    border-radius: var(--border-radius);
    background-color: #f1f1f2;
    border: 1.5px solid transparent;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-inner {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;

    &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: calc(var(--search-height) / 2);
        background-color: var(--icon-color);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        height: var(--search-height);
        background-color: transparent;
        font-size: 1.6rem;
        flex: 1;
        caret-color: var(--primary-color);
    }

    .search-action {
        color: var(--icon-color);
        background-color: transparent;
        padding: 0 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-weight: 600;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-size: 1.8rem;
    color: var(--icon-color);

    &:hover {
        cursor: pointer;
        background-color: var(--hover-background);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    margin-left: 20px;
    padding: 4px 8px;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 16px;
}
