.wrapper {
    margin-bottom: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    transition: background-color ease-in 0.2s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.active {
        color: var(--primary-color);
    }
}

.title {
    margin-left: 10px;
}
