// Menu
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-scrollable {
    overflow-y: auto;
    overscroll-behavior: contain;
}

// Menu item
.menu-item {
    border: none;
    border-radius: 0;
    width: 100%;
    justify-content: flex-start;
    font-weight: 600;
    padding: 12px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

// Menu header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
