.wrapper {
    padding: 20px 0;

    & + .wrapper {
        border-top: 1px solid #1618231f;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
}
.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.avt:hover ~ .desc .username {
    text-decoration: underline;
}
.desc {
    color: #161823;
    margin-left: 12px;
    flex: 1;
}
.user {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .username {
        text-decoration: underline;
    }
}
.username {
    font-size: 1.8rem;
    font-weight: 700;
}
.tick {
    color: #20d5ec;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 4px;
}
.name {
    margin-left: 4px;
    font-size: 1.4rem;
}
.caption {
    font-size: 1.6rem;
}

.follow-btn {
    margin-left: 20px;
}
.music-tag {
    margin-left: 68px;
}
.tag {
    font-size: 1.6rem;
    color: #161823;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.video-wrapper {
    display: flex;
    position: relative;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.action-item {
    margin-top: 6px;
    margin-left: 20px;
    text-align: center;
}

.value {
    font-size: 12px;
    color: #161823bf;
    font-weight: 700;
}
