.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &.fullscreen {
        width: 100%;
    }
}

.logo-link {
    display: flex;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 4px;
    right: 3px;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0px 4px;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

.more-btn {
    margin-left: 20px;
    padding: 4px 8px;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 16px;
}
