.wrapper {
    width: 320px;
    padding: 12px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 7px 16px;
}

.desc {
    margin-top: 12px;
    color: #161823;
}

.username {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'SofiaPro', sans-serif;
}

.check {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
}

.analytics {
    margin-top: 8px;
}

.value {
    font-size: 1.6rem;
    font-weight: 700;
}

.value + .value {
    margin-left: 12px;
}
